<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= title %></title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/all.css">
    <script src="/static/scripts/zepto.min.js"></script>
    <script src="/static/scripts/vue.js"></script>
    <script src="/static/scripts/jquery.jsonp.js"></script>

</head>

<body>
    <div id="variety">
        <% include include/index_header.html %>
        <ul class="scroll-container">
            <div class="list-title">
                <a href="javascript: "> {{ variety_name + "频道" }} </a>
            </div>

            <li v-for="list in variety_video">
                <div class="video-pic">
                    <img v-bind:alt="list.short_title" v-bind:src= "list.img" />
                </div>
                <div class="video-info">
                    <label>片名：{{ list.short_title }}</label>
                    <label>评分：{{ list.sns_score }}</label>
                    <label>播放次数：{{ list.play_count_text }}</label>
                    <label>上映时间：{{ list.date_format }}</label>
                    <button type="button" :a_id="list.a_id" :tv_id="list.tv_id" v-on:click="launch">立即观看
                    </button>
                </div>
            </li>
        </ul>
    </div>

</body>
    <script src="/static/scripts/variety.js"></script>
</html>