<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title><%= title %></title>
	<link rel="stylesheet" href="/static/css/reset.css">
	<link rel="stylesheet" href="/static/css/all.css">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<script src="/static/scripts/zepto.min.js"></script>
	<script src="/static/scripts/vue.js"></script>
	<script src="/static/scripts/jquery.jsonp.js"></script>
</head>
<body>
	<ul>
    <div class="list-title">
        <a href="javascript: "> {{ recommend_TV.channel_name }} </a>
        <a id="video-more" href="/TV"> 更多详情>>> </a>
    </div>

    <li v-for="list in recommend_TV.video_list">
        <div class="video-pic">
            <a href="/videp_detail"><img v-bind:alt="list.short_title" v-bind:src= "list.img" /></a>
        </div>
        <div class="video-info">
            <label>片名：{{ list.short_title }}</label>
            <label>评分：{{ list.sns_score }}</label>
            <label>播放次数：{{ list.play_count_text }}</label>
            <label>上映时间：{{ list.date_format }}</label>
            <button>立即观看</button>
        </div>
    </li>
</ul>
</body>
</html>